<!-- my-component.component.html -->
<div>
    <h2>Bill Payment Form</h2>

    <form (ngSubmit)="addUser()">
      <div>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Name"
          [(ngModel)]="user.name"
          required
        />
      </div>
      <div>
        <input
          type="text"
          id="age"
          name="age"
          placeholder="Price"
          [(ngModel)]="user.age"
          required
        />
      </div>
      <div>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="user.email"
          required
        />
      </div>
      <br>
      <button type="submit">Pay</button>
    </form>
  </div>
  


<router-outlet></router-outlet>